<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick figure</h1>
    <p>Fanny pack chillwave poutine hammock, pork belly paleo readymade lumbersexual. Hoodie fixie succulents, salvia cliche subway tile portland pok pok live-edge. Pabst fanny pack health goth, vice lomo occupy try-hard pork belly blue bottle snackwave twee squid pitchfork shaman. Letterpress taxidermy messenger bag succulents. Artisan photo booth chicharrones, cray VHS 90's butcher neutra.</p>
  </div>
</div>
